<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8"/>
    <title>Inline Editor</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body ng-app ng-controller="InlineEditorController">
    <!-- ng-app initialize Angular, ng-controller attaches controller class to view -->
    <div id="main" ng-click="hideTooltip()">
      <!-- ng-click directive allows custom behavior when element is clicked -->
      <!-- on click run hideToolTip() function -->
      <!-- when clicking anywhere other than the the tooltip div hide tooltip -->
      <div class="tooltip" ng-click="$event.stopPropagation()" ng-show="showtooltip">
        <!-- showtooltip boolean variable set within controller -->
        <input type="text" ng-model="value" />
          <!-- ng-model directive binds contents within text field to the value model,
          updating where value model is used -->
      </div>
        <p ng-click="toggleTooltip($event)">{{value}}</p>
          <!-- on click run toggleToolTip() function -->
    </div>

    <!-- Include AngularJS from Google's CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
